#other {
  margin-left: 5px;
  background-color: rgb(141, 140, 140);
  color: white;
  width: fit-content;
}

#you {
  margin-right: 5px;
  background-color: rgb(59, 130, 246);
  color: white;
  width: fit-content;
}

#you,
#other {
  max-width: calc(50%);
}